mixin explanation(data)
  .explanation&attributes(attributes)
    h2.text-white Как работать с Leader Data
    .explanation__timeline
      +explanation__timeline-item({
        number: '01.',
        dscr: 'Подключиться к SDK системы Leader Data'
      })
      +explanation__timeline-item({
        number: '02.',
        dscr: 'Загрузить пользователей, проекты или предприятия'
      })
      +explanation__timeline-item({
        number: '03.',
        dscr: 'Система свяжет ваши данные с данными партнеров'
      })
    .explanation__final
      .explanation__final-left
        img.explanation__final-icon(src="./img/lightning.png", alt)
        .explanation__final-content
          h5.text-white.font-weight-bold.mb-5.mb-xl-0 Готово!
          h5.text-white.explanation__final-dscr.mb-md-0 Теперь вы имеете доступ данным всей экосистемы
      a.btn.btn-primary.btn-primary--white.btn-sm.js-anchor-link(href="#connect") Подключиться
        
        
        
        
mixin explanation__timeline-item(data)
  .explanation__timeline-item&attributes(attributes)
    .explanation__timeline-item-number= data.number
    .explanation__timeline-item-line
    h4.explanation__timeline-item-dscr.text-white.font-weight-normal= data.dscr
