.explanation {
  margin-top: 80px;
  padding: 45px 50px 50px;
  background: linear-gradient(315.21deg, #0047ff 47.18%, #8000ff 86.66%);
  border-radius: 20px;

  @include media-breakpoint-down(lg) {
    margin-top: 35px;
    padding: 24px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 25px;
    padding: 16px;
    border-radius: 10px;
  }

  &__timeline {
    margin-top: 45px;
    display: flex;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 25px;
    }
  }

  &__timeline-item {
    width: 33.33%;

    @include media-breakpoint-down(lg) {
      display: flex;
      width: 100%;
      align-items: flex-start;
    }

    &:last-child {

      .explanation__timeline-item-line {
        background: transparent;

        @include media-breakpoint-down(lg) {
          background: rgba(#fff, .2);
        }

        @include media-breakpoint-down(sm) {
          min-height: 90px;
        }
      }
    }

    h4 {
    }
  }

  &__timeline-item-number {
    margin-bottom: 25px;
    width: 25px;
    flex-shrink: 0;
    opacity: .6;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;

    @include media-breakpoint-down(lg) {
      margin-top: 3px;
      margin-bottom: 0;
    }
  }

  &__timeline-item-line {
    position: relative;
    margin-bottom: 33px;
    width: 100%;
    height: 2px;
    background: rgba(#fff, .2);
    border-radius: 2px;

    @include media-breakpoint-down(lg) {
      margin-top: 1px;
      margin-right: 33px;
      margin-bottom: 0;
      margin-left: 18px;
      width: 2px;
      min-height: 64px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
      min-height: 68px;
    }

    &:before {
      position: absolute;
      top: -9px;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      content: '';
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 1px rgba(0, 0, 0, .04), 0 2px 6px rgba(0, 0, 0, .04),
        0 16px 24px rgba(0, 0, 0, .06);

      @include media-breakpoint-down(lg) {
        top: 0;
        left: -9px;
      }
    }

    &:after {
      position: absolute;
      top: -3px;
      left: 6px;
      display: block;
      width: 8px;
      height: 8px;
      content: '';
      background: $primary;
      border-radius: 50%;

      @include media-breakpoint-down(lg) {
        top: 6px;
        left: -3px;
      }
    }
  }

  &__timeline-item-dscr {
    font-size: 20px;
    line-height: 1.2;

    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__final {
    position: relative;
    margin-top: 34px;
    padding: 15px 15px 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(#fff, .1);
    border-radius: 8px;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
      padding: 62px 16px 16px;
      align-items: flex-end;
    }

    @include media-breakpoint-down(sm) {
      padding: 57px 12px 12px;
      flex-direction: column;
      align-items: flex-start;
    }

    .btn {

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &__final-left {
    display: flex;
    align-items: center;
  }

  &__final-icon {
    position: absolute;
    top: 50%;
    left: -25px;
    max-width: 150px;
    transform: translateY(-50%);

    @include media-breakpoint-down(lg) {
      top: -62px;
      left: -10px;
      max-width: 121px;
      transform: none;
    }
  }

  &__final-content {

    h5 {

      @include media-breakpoint-down(lg) {
        font-size: 20px;
        line-height: 1.2;
      }

      @include media-breakpoint-down(sm) {
        font-size: 15px;
        line-height: 1;
      }
    }
  }

  &__final-dscr {

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      line-height: 28px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 6px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 24px !important;
    }
  }
}
