h1 {
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 1.22;
  font-weight: 700;
  color: #1e1e2f;

  @include media-breakpoint-down(lg) {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.33;
  }
}

h2 {
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 1.375;
  font-weight: 700;
  color: #1e1e2f;

  @include media-breakpoint-down(lg) {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.5;
  }

  @include media-breakpoint-down(sm) {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
  }
}

h3 {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
    line-height: 1;
  }
}

h4 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;

  @include media-breakpoint-down(lg) {
    font-size: 16px;
    line-height: 1.5;
  }

  @include media-breakpoint-down(sm) {
    font-size: 15px;
    line-height: 20px;
  }
}

h5 {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
  color: #1e1e2f;

  @include media-breakpoint-down(lg) {
    font-size: 14px;
    line-height: 1.71;
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 24px;
  }
}

h6 {
}

p {
  font-size: 15px;
  line-height: 1.6;
  color: #1e1e2f;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 20px;
  }

  &.p--lg {
    font-size: 16px;
    line-height: 1.5;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &.p--sm {
    font-size: 14px;
    line-height: 1.71;
  }
}

.font-weight-medium {
  font-weight: 500;
}

ul {
  padding-left: 0;

  li {
    margin-bottom: 24px;
    display: flex;
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    color: #1e1e2f;

    @include media-breakpoint-down(lg) {
      margin-bottom: 19px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 24px;
    }

    &:before {
      margin-top: 9px;
      margin-right: 8px;
      display: block;
      width: 4px;
      height: 4px;
      flex-shrink: 0;
      content: '';
      background: $primary;
      border-radius: 50%;
    }
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {

  @include transition;
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
}
