/* Bootstrap */

.container {

  @include media-breakpoint-down(sm) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.row {

  @include media-breakpoint-down(sm) {
    margin: 0 -20px;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {

  @include media-breakpoint-down(sm) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.btn {
  padding: 24px 36px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 5px;

  @include media-breakpoint-down(lg) {
    padding: 12px 20px;
    font-size: 14px;
    line-height: 20px;
  }

  @include media-breakpoint-down(sm) {
    padding: 11px 20px;
  }

  &.btn-primary {
    color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .04), 0 2px 6px rgba(33, 133, 251, .08),
      0 16px 24px rgba(33, 133, 251, .1), 0 24px 32px rgba(33, 133, 251, .14);

    &--white {
      color: $primary;
      background: #fff;

      &:hover {
        background: rgba(#fff, .9);
      }

      &.btn-sm {
        box-shadow: 0 0 1px rgba(0, 0, 0, .04), 0 4px 8px rgba(0, 0, 0, .04),
          0 16px 24px rgba(0, 0, 0, .04), 0 24px 32px rgba(0, 0, 0, .04);
      }
    }
  }

  &.btn-sm {
    padding: 16px 26px;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0 0 1px rgba(33, 133, 251, .04), 0 4px 8px rgba(33, 133, 251, .04),
      0 16px 24px rgba(33, 133, 251, .04), 0 24px 32px rgba(33, 133, 251, .04);
  }

  &.btn-link {
    font-weight: 500;
  }
}
