
include ../blocks/front/front.pug
include ../blocks/pain/pain.pug
include ../blocks/solution/solution.pug
include ../blocks/advantage/advantage.pug
include ../blocks/client/client.pug
include ../blocks/explanation/explanation.pug
include ../blocks/data/data.pug
include ../blocks/case/case.pug
include ../blocks/connect/connect.pug
include ../blocks/logo/logo.pug
include ../blocks/hint/hint.pug
include ../blocks/main/main.pug
include ../blocks/data-list/data-list.pug
include ../blocks/essence/essence.pug
include ../blocks/footer/footer.pug
include ../blocks/subscribe/subscribe.pug
include ../blocks/value/value.pug
include ../blocks/mob-scroll/mob-scroll.pug
include ../blocks/socials/socials.pug