.hint {
  position: relative;
  display: inline-flex;

  @include media-breakpoint-down(md) {
    position: static;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &:hover {

    .hint__answer {
      z-index: 1;
      opacity: 1;
    }
  }

  &__question {
    padding: 10px 24px 10px 10px;
    display: inline-flex;
    align-items: center;
    background: #fff;
    border-radius: 60px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .04), 0 4px 8px rgba(0, 0, 0, .04),
      0 16px 24px rgba(0, 0, 0, .04), 0 24px 32px rgba(0, 0, 0, .04);

    @include transition;

    @include media-breakpoint-down(sm) {
      padding: 8px 15px 8px 8px;
      width: 100%;
    }

    &:hover {
      box-shadow: 0 0 1px rgba(0, 0, 0, .04), 0 4px 8px rgba(0, 0, 0, .04),
        0 26px 24px rgba(0, 0, 0, .04), 0 24px 32px rgba(0, 0, 0, .04);
    }

    &:before {
      margin-right: 8px;
      display: flex;
      width: 32px;
      height: 32px;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      line-height: 32px;
      font-weight: 500;
      text-align: center;
      content: '?';
      color: #fff;
      background: #bdcfe4;
      border-radius: 50%;

      @include media-breakpoint-down(sm) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__answer {
    position: absolute;
    z-index: -1;
    bottom: 100%;
    padding-bottom: 20px;
    width: 100vh;
    max-width: 695px;
    opacity: 0;

    @include transition;

    @include media-breakpoint-down(md) {
      bottom: 70px;
      left: 50%;
      max-width: 100%;
      transform: translateX(-50%);
    }

    @include media-breakpoint-down(sm) {
      bottom: 50px;
    }
  }

  &__answer-content {
    padding: 24px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .04), 0 4px 8px rgba(0, 0, 0, .04),
      0 16px 24px rgba(0, 0, 0, .04), 0 24px 32px rgba(0, 0, 0, .04);
  }
}
