.client {
  margin-bottom: 20px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    margin-bottom: 20px;
    display: flex;
    width: 116px;
    height: 116px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 48px rgba(7, 33, 123, .18);

    @include media-breakpoint-down(sm) {
      margin-right: 12px;
      margin-bottom: 0;
      width: 48px;
      height: 48px;
    }
  }

  &__icon {

    @include media-breakpoint-down(sm) {
      max-width: 24px;
    }
  }
}
