.subscribe {
  position: relative;
  z-index: 1;
  padding: 8px 8px 8px 16px;
  display: flex;
  max-width: 485px;
  height: 74px;
  justify-content: space-between;
  align-items: center;
  background: rgba(#fff, .1);
  border-radius: 8px;

  @include media-breakpoint-down(lg) {
    max-width: 400px;
  }

  @include media-breakpoint-down(sm) {
    max-width: none;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  &__content {
    flex-grow: 1;
  }

  &__label {
    font-size: 10px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: .08em;
    color: #fff;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }

  &__input {
    padding-right: 20px;
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    background: transparent;
    border: 0;

    @include placeholder(rgba(255, 255, 255, .5));
  }

  .btn {

    @include media-breakpoint-down(sm) {
      margin-top: 12px;
      width: 100%;
    }
  }
}
