mixin subscribe(data)
  form.subscribe.js-submit(action="#", method="POST")&attributes(attributes)
    .subscribe__content
      label.subscribe__label EMAIL
      input.subscribe__input(type="email", name="email", placeholder="ivan@ivanov.ru")
    button.btn.btn-primary.btn-primary--white.btn-sm(type="submit") Подключиться
