mixin socials(data)
  .socials&attributes(attributes)
    a.socials__item.socials__item--fb(href="https://m.me/youngprofs")
    a.socials__item.socials__item--tg(href="https://t.me/leaderid_bot")
    a.socials__item.socials__item--vk(href="https://vk.me/tboil_people")
