.advantage {
  margin-bottom: 24px;
  padding: 24px;
  width: 100%;
  background: #f0f5fa;
  border-radius: 10px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 16px;
  }

  @include media-breakpoint-down(sm) {
    padding: 16px;
  }

  &__icon {
    margin-bottom: 15px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
      width: 24px;
      height: 24px;
    }
  }
}
