.solution {
  position: relative;
  margin-top: 150px;
  margin-bottom: 145px;
  padding: 45px 50px 65px;
  display: flex;
  background: #f0f5fa;
  border-radius: 18px;

  @include media-breakpoint-down(lg) {
    margin-top: 70px;
    margin-bottom: 115px;
    padding: 24px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 81px;
    margin-bottom: 74px;
    padding: 218px 12px 16px;
  }

  &__content {
    max-width: 640px;

    @include media-breakpoint-down(lg) {
      max-width: 456px;
    }
  }

  &__picture {
    position: absolute;
    top: -69px;
    right: -90px;
    max-width: 682px;

    @include media-breakpoint-down(lg) {
      top: 7px;
      right: -74px;
      max-width: 374px;
    }

    @include media-breakpoint-down(sm) {
      top: -74px;
      left: 0;
      max-width: 348px;
    }
  }
}
