mixin solution(data)
  .solution&attributes(attributes)
    .solution__content
      h2.mb-5.mb-md-10 Решение: подключиться к Leader Data
      h5.mb-10.mb-md-25 Мы создали сервис, предоставляющий доступ к данным всей партнерской сети Платформы НТИ. В центре Leader Data находятся активные Пользователи, создающие новые технологические Проекты, и Предприятия, развивающие технологии
      +hint({
        question: 'Зачем подключаться к Leader Data',
        answer: '<h5 class="font-weight-bold">Зачем подключаться к Leader Data?</h5><p>Объединяя в себе десятки провайдеров, Leader Data становится большим шлюзом обмена данных, а значит, вместо 10 контрагентов вы получаете одного, экономите время, деньги и сохраняете качество.</p><p class="mb-0">Кроме хранения данных, алгоритмы Leader Data находят связи между общими объектами, и вы получаете историческую информацию от партнера, которую раньше не знали. Представьте: к вам на тренинг записался ученик, а вы видите, какие образовательные мероприятия он проходил и в каких школах учился.</p>'
      })
    img.solution__picture(src="./img/solution.png", alt)
