mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__content
        .footer__left
          +logo.footer__logo.mb-20.mb-md-25
          //a.footer__link(href="#") Политика конфиденциальности
          //a.footer__link(href="#") Пользовательское соглашение
        .footer__right
          .footer__section
            p.font-weight-bold.mb-20 Поддержка
            a.footer__link(href="tel:88005504954") 8 800 550-49-54
            a.footer__link(href="mailto:support@leader-id.ru") support@leader-id.ru
          .footer__section
            p.font-weight-bold.mb-20 Чат-боты
            +socials
            a.footer__nti(href="https://2035.dev/") Платформа 
              span НТИ
        
