.footer {
  padding: 40px 0 70px;
  border-top: 1px solid #bdcfe4;

  @include media-breakpoint-down(lg) {
    padding: 27px 0 50px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 35px;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
  }

  &__right {
    display: flex;

    @include media-breakpoint-down(sm) {
      margin-top: 25px;
      justify-content: space-between;
    }

    p {
      line-height: 20px;
    }
  }

  &__logo {

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo__img {

      @include media-breakpoint-down(lg) {
        max-width: none;
      }
    }
  }

  &__link {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #3f3f55;

    & + & {
      margin-top: 5px;

      @include media-breakpoint-down(sm) {
        margin-top: 8px;
      }
    }
  }

  &__section {

    & + & {
      margin-left: 70px;

      @include media-breakpoint-down(sm) {
        margin-left: 40px;
      }
    }
  }

  &__nti {
    margin-top: 60px;
    padding: 8px 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Chevin Pro', 'Arial', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #000;
    border-radius: 3px;

    &:hover {
      opacity: .8;
      color: #fff;
    }

    span {
      color: #bce1ff;
    }
    //    width: 115px;
    //    height: 32px;
    //    background: url(../img/nti-logo.png) no-repeat;
    //    background-size: contain;

    @include media-breakpoint-down(sm) {
      margin-top: 13px;
    }
  }
}
