.data-list {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    max-width: 500px;

    @include media-breakpoint-down(lg) {
      max-width: 350px;
    }
  }

  &__arrows {
    padding: 7px;
    display: flex;
    width: 80px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background: $primary;
    border-radius: 8px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__arrow {
    display: block;
    width: 9px;
    height: 15px;
    background: url(../img/arrow.svg) no-repeat;
    background-size: contain;

    &--left {
    }

    &--right {
      transform: rotate(180deg);
    }
  }

  &__counter {
    margin: 0 6px;
    width: 32px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }

  &__slider {
    cursor: grab;

    @include media-breakpoint-down(sm) {
      margin-right: -20px;
      margin-left: -20px;
      padding-top: 30px;
      padding-left: 12px;
      display: flex;
      overflow: auto;
    }
  }

  .slick-list {
    margin-right: -12px;
    margin-left: -12px;
    overflow: visible !important;
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    display: flex !important;
    height: auto;

    &:focus {
      outline: none;
    }
  }
}
