mixin data-list(data)
  .data-list&attributes(attributes)
    .data-list__header
      h2.data-list__title.mb-0.mb-md-25.mb-xl-40 Данные партнерской сети Leader Data содержат:
      .data-list__arrows
        button.data-list__arrow.data-list__arrow--left
        span.data-list__counter 1/21
        button.data-list__arrow.data-list__arrow--right
    .data-list__slider
      +data({
        logo: 'data-1.svg',
        dscr: 'Интересы и активности пользователей'
      })
      +data({
        logo: 'data-5.svg',
        dscr: 'Уровень английского языка'
      })
      +data({
        logo: 'data-9.jpg',
        dscr: 'Данные о поддерживаемых проектах'
      })
      +data({
        title: 'Добровольцы России',
        dscr: 'Данные об участии в волонтерских движениях и обучении'
      })
      +data({
        logo: 'data-12.png',
        dscr: 'Уровень грамотности участников'
      })
      +data({
        logo: 'data-13.png',
        dscr: 'Результаты диагностик участников Островов'
      })
      +data({
        logo: 'data-14.png',
        dscr: 'Участники мероприятий'
      })
      +data({
        title: 'Академия наставников',
        dscr: 'Список учеников курса «Как стать наставником проектов»'
      })
      +data({
        logo: 'data-8.png',
        dscr: 'Участники Worldskills Russia'
      })
      +data({
        logo: 'data-7.png',
        dscr: 'Список участников мероприятий'
      })
      +data({
        logo: 'data-15.png',
        dscr: 'Финалисты программы «Глобальное образование»'
      })
      +data({
        title: 'Core',
        dscr: 'Результаты прохождения финансового зачета'
      })
      +data({
        logo: 'data-11.png',
        dscr: 'Финалист конкурса «Лидеры Минэк»'
      })
      +data({
        logo: 'data-10.png',
        dscr: 'Участники и мероприятия Кружкового движения'
      })
      +data({
        logo: 'data-6.jpg',
        dscr: 'Участники клуба мышления'
      })
      +data({
        title: 'Эксперты НТИ',
        dscr: 'База экспертов НТИ'
      })
      +data({
        title: 'LID Projects',
        dscr: 'База коммерческих и социальных'
      })
      +data({
        logo: 'data-16.svg',
        dscr: 'Мероприятия партнерской сети'
      })
      +data({
        title: 'Панно',
        dscr: 'Портреты пользователей'
      })
      +data({
        title: 'LID Networking',
        dscr: 'Деловые и социальные связи пользователей'
      })
      +data({
        title: 'Индивидуальная образовательная траектория',
        dscr: 'Эксперты по индивидуальной образовательной траектории'
      })
