extends ../templates/template.pug
block content
  .main
    .container
      +front.mb-25.mb-md-45.mb-xl-80
      .row#pain
        .col-md-9.col-xl-7
          h2 Сейчас крупным проектам приходится делать десяток интеграций
          h5 с партнерами для обмена данными, и это усложняет процесс работы и поддержки целостности данных
      h4.mt-25.mb-20.mb-md-30 В итоге всем приходится:
      .row
        .col-md-4.col-xl
         +pain({
           number: '01',
           dscr: 'Тратить время на интеграцию с каждым партнером'
         })
        .col-md-4.col-xl
         +pain({
           number: '02',
           dscr: 'Создавать свои внутренние библиотеки для интеграций'
         })
        .col-md-4.col-xl
         +pain({
           number: '03',
           dscr: 'Увеличивать команду программистов'
         })
        .col-md-4.col-xl
         +pain({
           number: '04',
           dscr: 'Следить за обновлениями партнеров и поддерживать актуальные API'
         })
        .col-md-4.col-xl
         +pain({
           number: '05',
           dscr: 'Усложнять внутреннюю архитектуру своих сервисов'
         })
      +solution
      h2.mb-25.mb-xl-45 Преимущества работы с Leader Data:
      .row.mob-scroll.mb-60.mb-md-90.mb-xl-100
        .col-xl-4.col-md-6.d-flex.mob-scroll__item
          +advantage({
            icon: 'advantage-1.svg',
            dscr: 'Один программный интерфейс для работы со всеми партнерами'
          })
        .col-xl-4.col-md-6.d-flex.mob-scroll__item
          +advantage({
            icon: 'advantage-2.svg',
            dscr: 'SDK для подключения'
          })
        .col-xl-4.col-md-6.d-flex.mob-scroll__item
          +advantage({
            icon: 'advantage-3.svg',
            dscr: 'Простое подключение даже для начинающего программиста'
          })
        .col-xl-4.col-md-6.d-flex.mob-scroll__item
          +advantage({
            icon: 'advantage-4.svg',
            dscr: 'Независимость от обновлений API множества других партнеров'
          })
        .col-xl-4.col-md-6.d-flex.mob-scroll__item
          +advantage({
            icon: 'advantage-5.svg',
            dscr: 'Облачное хранилище данных'
          })
        .col-xl-4.col-md-6.d-flex.mob-scroll__item
          +advantage({
            icon: 'advantage-6.svg',
            dscr: 'Шлюз передачи данных'
          })
      h2.mb-25.mb-md-45 Для кого продукт?
      .row.mb-xl-100.mb-60.pb-md-70
        .col-md-4.col-lg
          +client({
            icon: 'client-1.svg',
            dscr: 'Малый и крупный B2C бизнес'
          })
        .col-md-4.col-lg
          +client({
            icon: 'client-2.svg',
            dscr: 'Инвестиционные фонды'
          })
        .col-md-4.col-lg
          +client({
            icon: 'client-3.svg',
            dscr: 'Некоммерческие организации'
          })
        .col-md-4.col-lg
          +client({
            icon: 'client-4.svg',
            dscr: 'Стартапы'
          })
        .col-md-4.col-lg 
          +client({
            icon: 'client-5.svg',
            dscr: 'Образовательные учреждения'
          })
      +value
      +explanation
      .mt-50.mb-60.my-md-65.my-xl-100.pt-20
        h2.mb-25.mb-md-20.mb-xl-45 Правовые основания
        .row
          .col-xl-4
            h5 Пользователь, вступая в распоряжение данными персоны, проекта или предприятия, должен пройти процедуру аутентификации на Leader-ID и подписать оферту, дающую Leader Data право распоряжаться его данными.
          .col-xl-4
            h5 Сервисы, подключающиеся к Leader Data, обеспечивают такие же соглашения со своими пользователями. При подключении к Leader Data правовые основания должны пройти юридическую экспертизу у юристов Платформы НТИ.
          .col-xl-4
            h5 Данные с неустановленным владельцем могут сохраняться, но не могут передаваться и обрабатываться сервисами НТИ, пока не установлены правовые основания их использования. 
      .mt-45.my-xl-45.pt-10.pt-xl-45
        +data-list
      .mb-25.mb-md-50.mb-xl-100.pb-50
        +essence
      h2.mb-25.mb-md-45.mb-xl-40 Варианты использования
      .row.pb-60
        .col-xl-4.d-flex
          +case({
            number: '01',
            title: 'Инвестиционные фонды',
            dscr: 'Leader Data покажет историю проекта и опыт участников команды. Так инвестиционный фонд получит достоверную информацию и снизит риски при работе со стартапом.'
          })
        .col-xl-4.d-flex
          +case({
            number: '02',
            title: 'Некоммерческие организации',
            dscr: 'НКО получат дополнительную информацию о сильных сторонах своих участников. Например, узнают уровень владения английским языком, чтобы пригласить участвовать в мероприятии.'
          })
        .col-xl-4.d-flex
          +case({
            number: '03',
            title: 'HR ресурсы',
            dscr: 'Отделы кадров и рекрутинговые агентства смогут запросить поиск сотрудников с конкретными навыками и достижениями.'
          })
      +connect
    +footer
