.connect {
  position: relative;
  margin: 100px 0 185px;
  padding: 45px 50px;
  background: linear-gradient(325.19deg, #0047ff 47.18%, #8000ff 86.66%);
  border-radius: 20px;

  @include media-breakpoint-down(lg) {
    margin-top: 0;
    margin-bottom: 130px;
    padding: 24px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 7px;
    margin-bottom: 60px;
    padding: 175px 16px 16px;
    border-radius: 10px;
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 600px;

    @include media-breakpoint-down(lg) {
      max-width: 400px;
    }

    @include media-breakpoint-down(sm) {
      max-width: none;
    }

    h2 {

      @include media-breakpoint-down(sm) {
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  &__dscr {
    opacity: .7;

    @include media-breakpoint-down(lg) {
      margin-bottom: 32px;
    }

    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 18px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 4px;
    }
  }

  &__socials {
    margin-top: 40px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-top: 35px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 0;
    max-width: 100%;
    transform: translateY(-50%);

    @include media-breakpoint-down(lg) {
      left: 40px;
    }

    @include media-breakpoint-down(sm) {
      top: -70px;
      left: -58px;
      width: 378px;
      max-width: none;
      transform: none;
    }
  }
}
