mixin connect(data)
  .connect#connect&attributes(attributes)
    .connect__content
      h2.text-white.mb-0.mb-xl-10 Подключитесь к Leader Data
      h5.connect__dscr.text-white.mb-15.mb-xl-30 Подключитесь к партнерской сети и получите доступ к объединенным данным своих пользователей.
      .connect__socials
        +socials.socials--connect
        p.connect__dscr.p--lg.text-white.mb-0.mt-10.mt-xl-0.ml-xl-25 Обращайтесь через чат-боты
      //+subscribe
    img.connect__img.d-none.d-md-block(src="./img/connect.png", alt)
    img.connect__img.d-block.d-md-none(src="./img/connect-mob.png", alt)
