mixin front(data)
  .front&attributes(attributes)
    .row
      .col-md-6.col-xl-5
        .front__content
          +logo.front__logo
          h1.mb-40.mb-xl-80 Облачное хранилище данных для партнерской сети Платформы НТИ
          //h5.mb-20.mb-xl-45 собираем информацию о пользователях, проектах, предприятиях и передаём для аналитики (это рыба)
          .d-xl-flex.align-items-center
            a.btn.btn-primary.py-lg-15(href="https://data.leader-id.ru/") Войти
            a.btn.btn-link.pl-15.pl-xl-25.pr-0.js-anchor-link(href="#pain") или узнать больше
      .col-md-6.col-xl-7
        img.front__picture.d-none.d-md-block(src="./img/front.png", alt)
        img.front__picture.d-block.d-md-none(src="./img/front-mob-long.png", alt)
