.front {

  &__content {
    padding-top: 68px;

    @include media-breakpoint-down(lg) {
      padding-top: 24px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 17px;
    }
  }

  &__logo {
    margin-bottom: 40px;
    display: block;

    @include media-breakpoint-down(lg) {
      margin-bottom: 28px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
    }
  }

  &__picture {
    margin-top: -160px;
    max-width: 701px;

    @include media-breakpoint-down(lg) {
      margin-top: -60px;
      margin-left: -30px;
      max-width: 438px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 35px;
      margin-left: -23px;
      max-width: 539px;
    }
  }
}
