.mob-scroll {

  @include media-breakpoint-down(sm) {
    margin: 0 -8px;
    overflow: auto;
    flex-wrap: nowrap;

    @include media-breakpoint-down(sm) {
      margin: 0 -20px 25px;
      padding-left: 12px;
    }
  }

  &__item {

    @include media-breakpoint-down(sm) {
      padding: 0 8px;
      max-width: 288px;
      flex-shrink: 0;
    }
  }
}
