.essence {
  position: relative;
  padding: 35px 35px 35px 290px;
  display: flex;
  background: #f0f5fa;
  border-radius: 8px;

  @include media-breakpoint-down(lg) {
    padding: 24px 24px 24px 212px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 65px;
    padding: 138px 16px 16px;
  }

  &__img {
    position: absolute;
    top: -67px;
    left: -45px;
    max-width: 340px;

    @include media-breakpoint-down(lg) {
      top: -5px;
      left: -75px;
      max-width: 292px;
    }

    @include media-breakpoint-down(sm) {
      top: -72px;
      left: -12px;
      max-width: 305px;
    }
  }

  &__content {
  }

  .btn {

    @include media-breakpoint-down(lg) {
      padding: 12px;
    }
  }
}
