mixin essence(data)
  .essence&attributes(attributes)
    img.essence__img.d-none.d-md-block(src="./img/essence.png", alt)
    img.essence__img.d-block.d-md-none(src="./img/essence-mob.png", alt)
    .essence__content
      h4.mb-5.mb-xl-10 На стыке преимуществ создается новая ценность для пользователя
      p.mb-10.mb-xl-25 Алгоритмы машинного обучения эффективнее анализируют интересы и активности пользователей. Это увеличит качество рекомендаций и участие пользователя в других продуктах инфраструктуры НТИ и партнерской сети
      +hint({
        question: 'Принцип работы',
        answer: '<h5 class="font-weight-bold">Рассмотрим возможности Leader Data на примере работы с учениками образовательных курсов.</h5><p>Для этого введем несколько терминов. Приложение — сторонний сервис, подключающийся к Leader Data. Персона — представление пользователя  рамках приложения. Коллекция — описание конкретного типа данных, содержит набор полей для данных, их названия.</p><p>Мы регистрируем вас как разработчика и выдаем ключи доступа к специальному приложению. Вы с помощью нашего SDK или самостоятельно подключаетесь к Leader Data и загружаете свою базу учеников в виде персон с указанием уникального идентификатора Leader-ID.</p><p class="mb-0">В этот момент Leader Data находит связи между персонами вашего приложения и приложений партнеров, а затем открывает вам доступ к информации об этих персонах. Данные хранятся в структурированных коллекциях, поэтому ими будет удобно пользоваться. Результаты вашего курса будут записаны в общую или вашу коллекцию и доступны другим партнерам. Если вы хотите хранить конфиденциальную информацию, то можете установить видимость private — тогда только вы будете иметь к ней доступ.</p>'
      }).w-auto
