mixin value(data)
  .value&attributes(attributes)
    .row
      .col-xl-6.order-2.order-xl-1
        .value__img-wrapper
          img.value__img(src="./img/value.png", alt)
      .col-xl-6.order-1.order-xl-2
        .value__content
          h2.mb-10.mb-md-20.mb-xl-30 Ценности для партнеров
          ul
            li Доступ к информации, составленной партнерской сетью о вашем пользователе
            li Повышенная конверсия регистраций с единым аккаунтом пользователя
            li Наглядная история роста проектов и их результатов
            li Точное формирование портрета вашей аудитории
            li Увеличение вовлеченности пользователя в партнерские сервисы благодаря взаимным рекомендациям
