.value {

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__img {
    margin-top: -50px;
    margin-left: -20px;
    width: 624px;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
      margin-left: 0;
      width: 100%;
    }
  }

  &__content {
    padding-left: 20px;

    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }
  }
}
