.data {
  margin: 0 12px 80px;
  padding: 16px 20px 20px;
  display: flex;
  min-height: 136px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 48px rgba(7, 33, 123, .18);

  @include media-breakpoint-down(lg) {
    max-width: 264px;
  }

  @include media-breakpoint-down(sm) {
    margin-right: 8px;
    margin-left: 8px;
    overflow: auto;
    max-width: 264px;
    min-height: 136px;
    flex-shrink: 0;
  }

  &__logo {
    //    margin-bottom: 26px;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 50px;
  }

  &__title {
    line-height: 1;
    letter-spacing: .02em;
  }

  &__dscr {
    line-height: 20px;
  }
}
