mixin data(data)
  .data&attributes(attributes)
    if data.logo
      img.data__logo(src="./img/" + data.logo, alt)
    else
      h5.data__title.font-weight-medium!= data.title
    p.data__dscr.mb-0= data.dscr
