.case {

  @include media-breakpoint-down(lg) {
    margin-bottom: 36px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }

  h5 {

    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 1.5;
    }

    @include media-breakpoint-down(sm) {
      font-size: 15px;
      line-height: 16px;
    }
  }

  &__number {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1;
    color: $primary;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;
      font-size: 20px;
      line-height: 1;
    }
  }
}
